<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header class="custom-header">
              @RenderSection("header", required: false)
        </header>

        <div id="body" class="custom-body">
              @RenderBody()
        </div>

        <footer class="custom-footer">
             @RenderSection("footer", required: false)
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
