@model SD.Asp.Net.Samples.Models.Common.Client

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "Id" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Client</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.IsDeleted)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsDeleted)
            @Html.ValidationMessageFor(model => model.IsDeleted, "This land is Roman!")
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreatedById)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreatedById)
            @Html.ValidationMessageFor(model => model.CreatedById)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreatedOn)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreatedOn)
            @Html.ValidationMessageFor(model => model.CreatedOn)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UpdatedById)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UpdatedById)
            @Html.ValidationMessageFor(model => model.UpdatedById)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UpdatedOn)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UpdatedOn)
            @Html.ValidationMessageFor(model => model.UpdatedOn)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Code)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Code)
            @Html.ValidationMessageFor(model => model.Code)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Note)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Note)
            @Html.ValidationMessageFor(model => model.Note)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
